<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <header>
            <%- include("navbar") %>
        </header>
        <main>
            <h1><%= title %></h1>
            <% if (locals.files) { %>
                <ul class="files-list">
                    <% files.forEach((file) => { %>
                        <li class="file"><%= file.name %></li>
                    <% }) %>
                </ul>
            <% } %>
            
        </main>
    </body>
</html>