<nav>
    <ul class="nav-list">
        <li class="nav-list-item">
            <a class="nav-link" href="/sign-up">Sign Up</a>
        </li>
        <li class="nav-list-item">
            <a class="nav-link" href="/files">Files</a>
        </li>
        <li class="nav-list-item">
            <a class="nav-link" href="/log-in">Log In</a>
        </li>
    </ul>
    
</nav>