<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Rename folder</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <h1 class="main-heading">Rename folder</h1>
        <form action="/files/folders/rename/<%= locals.folder.id %>" method="POST">
            <label for="folder-name">Folder name: </label>
            <input type="text" name="folder_name" id="folder-name" value="<%= locals.folder.name %>" />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>